/*
 * Globals
 */
$color: ( 
  primary: #333,
  accent: #fff,
  lightAccent: rgba(255,255,255,.25),
  darkAccent: rgba(255,255,255,.25),
  shaddow: rgba(0, 0, 0, .5),
  popOut: rgba(81, 221, 151)
)
/* Links */
a,
a:focus,
a:hover {
  color: $accentColor;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: map-get($color, popOut);;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: map-get($color,accent);
  border: .05rem solid map-get($color,accent)
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: map-get($color,primary);;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: map-get($color,primary);
  text-shadow: 0 .05rem .1rem map-get($color,shaddow);
  box-shadow: inset 0 0 5rem map-get($color,shaddow);
}

.max-container-height {
  min-height: 50em;
}
.cover-container {
   max-width: 65em; 
}

.cover-heading {
  padding-top: 2rem;
}
.cover-body {
 padding-top: 2em; 
  
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: map-get($color,accent);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: map-get($color,light);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: map-get($color,accent);
  border-bottom-color: map-get($color,accent);
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/* custom settings after adapting from bootstrap examples */
.nav-width {
  min-width: 12em; 
}
.nav-link-width {
  min-width: 5em; 
}
#btn-auth:hover {
  color: map-get($color,popOut);
  border-bottom: .25rem solid map-get($color,popOut);
}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: map-get($color,darkAccent);
}
